<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.java.thingdroid.commons">

    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true">

        <receiver android:name="org.java.thingdroid.commons.scheduler.Scheduler" android:exported="false">
            <intent-filter>
                <action android:name="com.utils.commons.ACTION_LIBRARY_START" />
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="com.utils.commons.scheduler.action.EXECUTE_TASK_1" />
                <action android:name="com.utils.commons.scheduler.action.EXECUTE_TASK_2" />
                <action android:name="com.utils.commons.scheduler.action.EXECUTE_TASK_3" />
                <action android:name="com.utils.commons.scheduler.action.EXECUTE_TASK_4" />
                <action android:name="com.utils.commons.scheduler.action.EXECUTE_TASK_5" />
                <action android:name="com.utils.commons.scheduler.action.EXECUTE_TASK_6" />
                <action android:name="com.utils.commons.scheduler.action.EXECUTE_TASK_7" />
                <action android:name="com.utils.commons.scheduler.action.EXECUTE_TASK_8" />
                <action android:name="com.utils.commons.scheduler.action.EXECUTE_TASK_9" />
                <action android:name="com.utils.commons.scheduler.action.EXECUTE_TASK_10" />
                <action android:name="com.utils.commons.scheduler.action.EXECUTE_TASK_11" />
                <action android:name="com.utils.commons.scheduler.action.EXECUTE_TASK_12" />
                <action android:name="com.utils.commons.scheduler.action.EXECUTE_TASK_13" />
                <action android:name="com.utils.commons.scheduler.action.EXECUTE_TASK_14" />
                <action android:name="com.utils.commons.scheduler.action.EXECUTE_TASK_15" />
            </intent-filter>
        </receiver>

        <service
            android:name=".scheduler.TaskExecutor"
            android:exported="false">
        </service>

        <receiver android:name=".utils.ImprovedBootReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="com.utils.commons.ACTION_LIBRARY_START" />
                <action android:name="com.android.commons.action.CHECK_IF_BROADCAST_OK" />
            </intent-filter>
        </receiver>

    </application>

</manifest>
